.admin-content {
  margin-top: 10px;
  margin-left: 5px;
}
.admin-content .clients-panel-container .panel .panel-body table tbody tr {
  cursor: pointer;
}
.admin-content .client-info-container {
  display: none;
}
.admin-content .transactions-table th,
.admin-content .transactions-table td {
  text-align: center;
}
.device-category-row td,
.device-row td,
.page-row td {
  cursor: pointer;
}
.device-category-row td:last-of-type,
.device-row td:last-of-type,
.page-row td:last-of-type {
  cursor: default;
}

.logo-wrap{max-height: 250px; max-width: 250px; cursor: pointer;position: relative; overflow: hidden; display: inline-block;}
.logo-wrap .overlay{display: none;position: absolute; background: rgba(0,0,0,.5); color: #fff; text-align: center; font-size: 24px; width: 100%; height: 100%; top: 0px; left: 0px;  }
.logo-wrap .overlay i {position: relative; top: 40%;}
.logo-wrap:hover .overlay{display: block;}
#logo-img{max-height: 250px; max-width: 250px;cursor: pointer; border: 1px solid #999;}
